.header
  .header__text
    =link_to root_path, class: 'home__link' do
      =icon 'fas', 'snowboarding'
      %p skate・session
  .header__right-nav
    - if user_signed_in?
      =link_to "logout", destroy_user_session_path, method: :delete, class: 'header__user-btn'
    - else
      =link_to "login", new_user_session_path, class: 'header__user-btn'
      =link_to "signup", new_user_registration_path, class: 'header__user-btn'
    =link_to '#', class: 'search__link' do
      =icon 'fas', 'search', class: "icon-search"
    

  

.contents
  .content__text 
    %p トレンド
  .content__videos
    .content__video
      -# - if @topic.image.attached?
      -#   = image_tag @topic.image

    .content__video
    .content__video
    .content__video
  .content__follow-text
    %p フォロー
  .content__follow-videos
    .follow-video
    .follow-video
    .follow-video
    .follow-video
    .follow-video



.footer__nav
  =link_to '#', class: 'nav__icon' do
    =icon 'fas', 'bars'
  =link_to '#', class: 'nav__icon' do
    =icon 'fas', 'home'
  =link_to new_topic_path, class: 'nav__icon' do
    =icon 'fas', 'snowboarding'
  =link_to user_path(current_user), class: 'nav__icon' do
    =icon 'fas', 'user-alt'
  =link_to '#', class: 'nav__icon' do
    =icon 'fas', 'search'