.header
  .header__text
    =link_to root_path, class: 'home__link' do
      =icon 'fas', 'snowboarding'
      %p skate・session
  .header__right-nav
    - if user_signed_in?
      =icon 'fas', 'user-alt'
      %span :
      = current_user.nickname
      =link_to "logout", destroy_user_session_path, method: :delete, class: 'header__user-btn'
    - else
      =link_to "login", new_user_session_path, class: 'header__user-btn'
      =link_to "signup", new_user_registration_path, class: 'header__user-btn'
    =link_to search_topics_path, class: 'search__link' do
      =icon 'fas', 'search', class: "icon-search"

.contents
  .top__content-text
    %p NEW TOPICS
    =icon 'fas', 'arrows-alt-h', class: 'new__topics-nav'
  .top__contents
    .content__videos
      - @news.each do |topic|
        -if topic.post?
          -if topic.post.file.content_type.include?('image/')
            .content__video
              =link_to topic_path(topic), class: 'topic__link-index' do
                =image_tag topic.post.url, class: 'topics__post-new'
          -else
            .content__video
              =link_to topic_path(topic), class: 'topic__link-index' do
                =video_tag topic.post.url, controls: true, autobuffer: true, class: 'topics__post-new'

%br/
%br/
%br/
%br/

.topics__all-text
  %p ALL TOPICS    

.topics__content-all-index
  - @randams.each do |topic|
    -if topic.post?
      -if topic.post.file.content_type.include?('image/')
        .topics__all-index
          =link_to topic_path(topic), class: 'topic__link-show' do
            =image_tag topic.post.url, class: 'topic__post-index'
      -else
        .topics__all-index
          =link_to topic_path(topic), class: 'topic__link-show' do
            =video_tag topic.post.url, controls: true, autobuffer: true, class: 'topic__post-index'



.bottom__content-index
  .bottom__cont-inner


.footer__nav
  = render 'shared/footer_nav'