.footer__nav
  =link_to '#', class: 'nav__icon' do
    =icon 'fas', 'bars'
  =link_to root_path, class: 'nav__icon' do
    =icon 'fas', 'home'
  - if user_signed_in?
    =link_to new_topic_path, class: 'nav__icon' do
      =icon 'fas', 'snowboarding'
  - if user_signed_in?
    =link_to user_path(current_user), class: 'nav__icon' do
      =icon 'fas', 'user-alt'
  =link_to '#', class: 'nav__icon' do
    =icon 'fas', 'search'